body { background: silver;
    width: 1300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.header {
    width: 1200px;
    display: flex;
    border: 2px solid lightskyblue;
    padding: 10px;
    box-sizing: border-box;
    background: #8a3f06;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px #e70a37;
}
h1, h2 {
    text-align: center;
    color: black;
}

.info {
    width: 75%;
    height: auto;
    border: 2px solid crimson;
    border-radius: 5px;
    margin-right: 10px;
    padding: 10px;
    background: burlywood;
    box-shadow: 0 0 5px 2px #e70a37;
}

.main-foto img {
width: 300px;
    height: 100%;
    border: 2px solid crimson;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px #e70a37;
}

.main-foto {
    display: flex;
    align-items: center;
}

.center {
    margin-top: 20px;
    width: 1200px;
    display: flex;
    border: 2px solid lightskyblue;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    background: #8a3f06;
    box-shadow: 0 0 5px 2px #e70a37;
}

.info-2 {
    width: 1200px;
    height: auto;
    border: 2px solid crimson;
    border-radius: 5px;
    padding: 10px;
    background: burlywood;
    box-shadow: 0 0 5px 2px #e70a37;
}

img:hover {
    border: 3px solid #fd0000;
    border-radius: 5px;
}
.list {
    margin-top: 20px;
    width: 1200px;
    border: 2px solid lightskyblue;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    background: #8a3f06;
    box-shadow: 0 0 5px 2px #e70a37;
}

.info-3 {
   display: flex;
    justify-content: center;

}
img {
    width: 300px;
    height: 200px;
}
.video {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid crimson;
    border-radius: 5px;
    background: burlywood;
    box-shadow: 0 0 5px 2px #e70a37;
}

li {
    width: 33%;
    height: 33%;
}
h5 {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

a {
    text-decoration: none; /* Прибирає підкреслення для посилань */
color: black;
}
a:hover {
    text-decoration: underline;
    color: red;