@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.nav_content {
    background: #f9f9f9;
    height: 92px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #3298F2;

}

.wrapper {
    display: flex;
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
    align-items: center;
}
nav {
    display: flex;
    column-gap: 35px;
    flex-grow: 1;
    margin-left: 102px;

}

.nav_button {
    width: 309px;
}

.nav_button button {
    width: 100%;
    border: 2px solid #3298F2;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: bold;
    height: 60px;
    background-color: white;
}

.nav_item a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #292929;
    text-transform: uppercase;
    text-decoration: none;
}

.first-screen_left {
    width: 45%;

}

.first-screen {
    padding: 93px 101px 93px 145px;

}
.first-screen_left h3 {
    font-weight: 900;
    font-size: 19px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FF9638;
}

.first-screen_left h1 {
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #000000;
}

.first-screen_left h1 span {color: deepskyblue}


.first-screen_text {
    margin-top: 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: black;
}

.first-screen_text p:first-child {
    font-weight: bold;
}

.first-screen_left button {
    width: 382px;
    height: 61px;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: black;
    border-radius: 5px;
    background: #FF9638;
    border: none;
    margin-top: 120px;
}

.first-screen {
    display: flex;
justify-content: space-between}

.first-screen_right {
    width: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.first-screen_right img {width: 100%;}


.play_button_wrap {
    width: 152px;
    height: 152px;
    border: 1px solid #FF9638;
    border-radius: 50%;
    position: absolute;
    left: -160px;
    bottom: -15px;
}
.play_button {
    width: 96px;
    height: 96px;
    border: 1px solid #FF9638;
    border-radius: 50%;
    position: relative;
}

.play_button_item {
    width: 82px;
    height: 82px;
    border: 3px solid #FF9638;
    border-radius: 50%;
    background: #C4C4C4;
}

.play_button_wrap, .play_button, .play_button_item {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.play_button_item i {
font-size: 35px;
    color: #f9f9f9;
}

.play_button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: crimson;
    opacity: 0;
    animation: xxx 1s infinite;
}

@keyframes xxx {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.6;
        transform: scale(1.2);
    }
}