.father {
    width: 400px;
    height: 600px;
}

#header {
    width: 100%;
    height: 25%;
    background: greenyellow;
    box-sizing: border-box;
}
.menu-post {
    width: 100%;
    height: 50%;
    background: silver;
display: flex;


}

#menu {
    height: 100%;
    width: 30%;
    background: pink;
}

.post {
    width: 100%;
    height: 50%;
    background: #04d6f3;

}

#footer {
    width: 100%;
    height: 25%;
    background: greenyellow;


}
.flex {
    width: 70%;
    height: 100%;
}

.Text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Flex {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}