.main {
    width: 1080px;
    height: 720px;
    background: wheat;
    box-sizing: border-box;
}

.a {
    background: mediumseagreen;
    width: 100%;
    height: 34%;
}
.b-f {
    display: flex;
    height: 66%;
    width: 100%;

}
.b-e {
    width: 75%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.b {
    width: 100%;
    height: 50%;
    background: black;
}

.f {
    width: 25%;
    height: 100%;
    background: blue;
}
.c {
    height: 50%;
    width: 33.3%;
    background: tomato;
}

.d {
    height: 50%;
    width: 33.3%;
    background: #e97002;
}
.e {
    height: 50%;
    width: 33.4%;
    background: #ffc102;
}